<?xml version="1.0"?>
<configuration>
	<appSettings/>
  <connectionStrings>
    <add name="SQLCON" connectionString="Server=localhost;Integrated Security=True;Database=Northwind;Persist Security Info=True" />
    <add name="NorthwindConnectionString1" connectionString="Data Source=MOBILEPAUL;Initial Catalog=Northwind;Persist Security Info=True;User ID=sa;Password=ps5150"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
		<compilation debug="true"/>
		<authentication mode="Windows"/>
		<caching>
			<sqlCacheDependency enabled="true">
				<databases>
					<add name="Northwind" connectionStringName="SQLCON" />
				</databases>
			</sqlCacheDependency>
		</caching>
	</system.web>
</configuration>
