<?xml version="1.0"?>

<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <protectedData />
  <appSettings>
    <add key="SearchEngine" value="http://www.google.com" />
  </appSettings>
  <connectionStrings/>
	<system.web>
		<compilation debug="true"/>
		<authentication mode="Windows"/>
	</system.web>
</configuration>
