<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<appSettings/>
	<connectionStrings/>
	<system.web>
    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <add name="XmlSiteMapProvider"
                description="Demonstrates site navigation security."
                type="System.Web.XmlSiteMapProvider"
                securityTrimmingEnabled="true"
                siteMapFile="web.sitemap"/>
      </providers>
    </siteMap>
		<roleManager enabled="true"/>
		<compilation debug="true"/>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms name=".ASPXAUTH" 
                  loginUrl="Login.aspx"
                  protection="All" 
                  timeout="30" path="/" 
                  requireSSL="false" 
                  >
        <credentials passwordFormat="Clear">
          <user name="SectionOne" password="SectionOne"/>
          <user name="SectionTwo" password="SectionTwo"/>
          <user name="AllSections" password="AllSections"/>
        </credentials>
      </forms>
    </authentication>

  </system.web>
</configuration>
