<?xml version="1.0"?>
<configuration>
	<system.web>
		<profile enabled="true">
			<properties>
				<add name="FavoriteBackgroundColor" type="System.Drawing.Color" allowAnonymous="true"/>
				<group name="Font">
					<add name="Bold" type="bool"/>
					<add name="Underline" type="bool"/>
				</group>
			</properties>
		</profile>
		<anonymousIdentification enabled="true"/>
		<compilation debug="true"/></system.web>
</configuration>
